source https://www.nuget.org/api/v2

nuget FAKE
nuget FSharp.Compatibility.OCaml
nuget FSharp.Compatibility.OCaml.Format
nuget FSharp.Compatibility.OCaml.LexYacc
nuget FSharp.Compatibility.OCaml.System
nuget FsLexYacc
nuget FsLexYacc.Runtime
nuget Microsoft.Msagl
nuget Microsoft.Msagl.Drawing
nuget Microsoft.Msagl.GraphViewerGDI