obj
bin
[Dd]ebug/
[Rr]elease/
*.pch
TeXAux
.suo
.ncb
*.log
*.aux
*.omc
Thumbs.db
HOG/HOG/hog_lexer.ml
HOG/HOG/hog_parser.ml
HOG/HOG/hog_parser.mli
HOG/HOG/ml_lexer.ml
HOG/HOG/ml_parser.ml
HOG/HOG/ml_parser.mli
*.ncb
*.pdb
.omakedb.lock
.omakedb
HOG/latexexport/*
*.cmi
*.cmo
anagrammes/anagrammes-native.exe
